<div class="row">
  <div class="col-4 d-none d-lg-block">
    <img src="../assets/scissors.svg">
  </div>
  <div class="col">
    <div style="margin-top: 150px;" class="d-flex justify-content-center">
      <span id="title">Lorem ipsum set dolore amet duis sir class!</span>
    </div>
  </div>
  <div class="col">
    <!-- empty -->
  </div>
</div>
<div class="description row">
  <div class="col-12 col-md-12 col-xl-4">
    <div class="description-top row mb-3">
      Duis sit amet erat non velit rhoncus sollicitudin. Aenean ultrices ornare ligula, eu tristique nisi tincidunt
      et. Ut sed lacus turpis. Suspendisse tincidunt blandit mauris non aliquet. Mauris dignissim, eros ut
      consectetur
      ullamcorper, magna tellus cursus lorem, eget pharetra justo mauris in dui. Fusce eget mauris sit amet sapien
      posuere vulputate eget ac nunc. In vitae feugiat turpis, eget semper ipsum. Vivamus convallis ornare nisi in
      elementum.
    </div>
    <div class="row pt-3">
      Phasellus ligula justo, feugiat eget sollicitudin eu, vehicula eget massa. Class aptent taciti sociosqu ad
      litora torquent per conubia nostra, per inceptos himenaeos.
    </div>
  </div>
  <div class="col">
    <!-- empty -->
  </div>
  <div class="d-none d-xl-block col-12 col-md-12 col-xl-4">
    <img id="man" src="../assets/man.png" alt="Italian Trulli">
    <img id="chart2" src="../assets/chart2.svg">
  </div>
</div>