<div class="container mt-5">
  <div class="top">
    <app-top></app-top>
  </div>

  <div class="center">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center mt-3">
          <p>Jak możesz się dołożyć?</p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-6 col-xl-3">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <div class="circle d-flex justify-content-center pt-2">1</div>
          </div>
          <div class="text-center mt-3">
            <p>Vestibulum est tortor, fringilla eu imperdiet sit amet, pellentesque sed ante.
              Praesent
              vel nibh vitae nisi ornare facilisis.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <div class="circle d-flex justify-content-center pt-2">2</div>
          </div>
          <div class="text-center mt-3">
            <p>Vestibulum est tortor, fringilla eu imperdiet sit amet, pellentesque sed ante.
              Praesent
              vel nibh vitae nisi ornare facilisis.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <div class="circle d-flex justify-content-center pt-2">3</div>
          </div>
          <div class="text-center mt-3">
            <p>Tiam sed gravida nulla. Nam non lobortis ipsum. Donec ut porta leo.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <div class="circle d-flex justify-content-center pt-2">4</div>
          </div>
          <div class="text-center mt-3">
            <p>Tiam sed gravida nulla. Nam non lobortis ipsum. Donec ut porta leo.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="d-flex justify-content-center">
        <p>Wybierz kwotę</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group">
        <div class="col-4 col-md-4 col-xl-4">
          <div class="d-flex justify-content-end">
          <input #radio1 (change)="item = radio1" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-color btn-outline-primary" for="btnradio1">50 zł</label>
        </div>
        </div>
        <div class="col-4 col-md-4 col-xl-4">
          <div class="d-flex justify-content-center">
          <input #radio2 (change)="item = radio2" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-color btn-outline-primary" for="btnradio2">70 zł</label>
        </div>
        </div>
        <div class="col-4 col-md-4 col-xl-4">
          <input #radio3 (change)="item = radio3" type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-color btn-outline-primary" for="btnradio3">100 zł</label>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="d-flex justify-content-center">
        <p class="textPayment">*Doceniamy każdą wpłatę za pośrednictwem naszej strony, jednak aby otrzymać upominek
          wsparcie to minimum 50 zł.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="d-flex justify-content-center">
        <p>Dane do wysyłki</p>
      </div>
    </div>
    <div z class="row justify-content-evenly mt-5">
      <div class="d-flex justify-content-center">
        <app-form></app-form>
      </div>
    </div>
    <div class="row chart3">
      <div class="col">
          <img style="opacity: 0.3;" src="../assets/chart3.svg">
      </div>
    </div>
  </div>
  <div class="bottom">
    <app-footer></app-footer>
</div>
</div>