$btn-color: rgb(212, 212, 212);
$color-secondary: brown;
$color-btn-active: green;

.top {
    background-color: white;
    padding-bottom: 150px;
}

.center {
    background-color: rgb(177, 212, 245);
}

.bottom {
    background-color: white;
    font-size: x-small;
    position: relative;
    z-index: 200;
}

#title {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description {
    margin-top: -50px;
    margin-left: 50px;
    margin-right: 50px;
}

.description-top {
    font-size: xx-small;
}

#man {
    z-index: 1000;
    position: absolute;
    width: 350px;
    height: 250px;
    border-radius: 5px;
    margin-left: -100px;
}

#chart2 {
    z-index: 100;
    position: absolute;
    width: 350px;
    height: 350px;
    margin-top: -100px;
    margin-left: -50px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(192, 217, 240);
    color: $color-secondary;
}

.button1 {
    margin-right: 150px;
}

.button3 {
    margin-left: 150px;
}

.textPayment {
    font-size: small;
}

.btn-color {
    max-width: 150px;
    background-color: rgb(220, 224, 220);
    border-color: $color-secondary;
    font-size: x-large;
}

.chart3 {
    z-index: 100;
    margin-top: -200px;
    margin-left: 50px;
    position: absolute;
}

.submitButton {
    z-index: 1000;
    position: relative;
}

.errorText {
    color:crimson;
    font-size: small;
}